footer {
  padding: 2rem;
  background-color: #202020;
  font-size: 12px;
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
footer .footer a {
  color: inherit;
}
footer .footer a:hover {
  text-decoration: none;
}

footer .footer .section:first-child{
  margin-bottom: 2rem;
  font-size: var(--body-font-size-s);
}

footer .footer .section:first-child p > a{
  margin-right: 1rem;
}

footer .footer .section:first-child p > a:first-child{
  font-size: var(--heading-font-size-xl);
}

footer .footer .section:not(:first-child) a{
  text-decoration: underline;
}
